body{
    background-color: blue;
}
h3{
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
login{
    margin: 200px;
    padding: 4px;
    border: 0px;
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
login:hover{
    border: 0px;
}
p{
    padding-left: 200px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    margin-left: 200px;
    color: white;
    background-color: rgba(44, 26, 150, 0.5);
    font-size: 16px;
    margin-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border: 0px;
}